<div class="container">
  <h1 class="title">Gestion des Formations</h1>
  <h2 class="subtitle">Bienvenue dans la plateforme de Gestion des Formations</h2>
  <p>Cette plateforme vous permet de gérer efficacement les utilisateurs, les formations, le suivi des absences et la progression des apprenants.</p>

  <div class="buttons">
    <button routerLink="/apprenants" class="btn">Gérer les Utilisateurs</button>
    <button routerLink="/formations" class="btn">Gérer les Formations</button>
    <button routerLink="/absences" class="btn">Suivi des Absences</button>
    <button routerLink="/progressions" class="btn">Suivi des Progressions</button>
    <button routerLink="/rapports" class="btn">Générer des Rapports</button>
  </div>
</div>
